# Byte-compiled / optimized / DLL files
**/__pycache__
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store
**/.DS_Store

# Data files
data/raw/
data/processed/

# Logs
*.log

02_Baseline.ipynb

# 개인 노트북 폴더
**/notebook
notebook
